/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	background: slategrey;
	font-family: Courier;
	font-size: 1.25em;
	line-height: 1.5;
}

header {
	background: slategrey;
	padding: 1%;
}

section {
  padding: 1%;
}

footer {
	text-align: center;
	clear: both;
}

nav {
	text-align: left;
}

article {
	background: slategrey;
	padding-bottom: 1%;
}

a:link {
	color: snow;
}
a:visited {
	color: pink;
}

a:hover {
	color: blue;
}

a:active {
	color: slategray;
	background-color: yellow;
}

p {
	padding: 1%;
}

h2 a {
	color: black;
}

p.p-summary {
	font-size: 0.75em;
	font-style: italic;
}

img {
	padding: 1%;
}

.card {
  display: inline-block;
  background: lightslategrey;
  border: thin solid snow;
  border-radius: 10%;
  padding: 2%;
  margin: 2%;
}

.vcard {
	font-size: 0.75em;
  text-align: center;
}

.vcard img {
  width: 100px;
}